.container {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  .example-form {
    padding: 0 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .button__wrapper {
      padding: 0 0.25rem;
    }
  }
}
